{namespace bk2k = BK2K\BootstrapPackage\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Header"></f:section>
<f:section name="Main">

    <bk2k:externalMedia url="{data.external_media_source}" class="embed-responsive-item">
        <f:if condition="{externalMedia}">
            <f:then>
                <div class="embed-responsive embed-responsive-{data.external_media_ratio}">
                    <f:format.raw>{externalMedia}</f:format.raw>
                </div>
            </f:then>
            <f:else>
                <div class="alert alert-warning">
                    <f:translate key="externalmediaunsupported" extensionName="bootstrap_package" arguments="{0: '<strong>{data.external_media_source -> f:format.htmlspecialchars()}</strong>'}" />
                </div>
            </f:else>
        </f:if>
    </bk2k:externalMedia>

</f:section>